/*Make the user posts image visible*/
#visible-overflow {
  overflow: visible;
}

#font-size {
	font-size: 12px;
}

#bg-size {
	background-size: cover;
}

#gotham-logo {
	display: inline !important;
}

#top-bar-gotham {
	height: 175%;
}